<br><br>
<div class="container">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-6 text-center">
            <h1 style="font-size: 42px;">Cadastre seu currículo no AGIZO</h1>
            <a routerLinkActive="active" [routerLink]="['/cadastrar-curriculo']" class="btn btn-primary btn-lg btn-light mt-5" data-bs-toggle="button" aria-pressed="false" autocomplete="off">
                Cadastrar currículo
            </a>
        </div>
        <div class="col-6 text-center">
            <img src="../../../assets/img/curriculo.jpg" width="600px" height="400px">
        </div>
    </div>
</div>
