<div class="container">

    <h3 class="title-etapa">Informações sobre suas habilidades</h3>

    <form role="form">
        <div *ngFor="let habilidade of habilidades; let i = index" class="habilidade">
            <div class="habilidade-item">
                <div class="form-group">

                    <div class="title-question">
                        <i class="fa fa-briefcase"></i>
                        <label class="question">Habilidade</label>
                    </div>
                    <div class="resposta">
                        <input class="form-control" type="text" placeholder="Habilidade" [(ngModel)]="habilidade.habilidade">
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="title-question">
                                <i class="fa fa-arrow-up"></i>
                                <label class="question">Nível</label>
                            </div>
                            <div class="resposta">
                                <select class="form-control" [(ngModel)]="habilidade.nivel">
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-danger" (click)="removerHabilidade(i)">Remover</button>
            </div>
        </div>
        <button type="button" class="btn btn-success" (click)="adicionarHabilidade()">Adicionar</button>
    </form>
</div>