<div class="container">
  <h3 class="title-etapa">Informações sobre sua experiência</h3>
  <p>Total de experiências: {{ experiencias.length }}</p>
  <form spellcheck="true">
    <div *ngFor="let experiencia of experiencias; let i = index" class="experiencia" role="form">
      <div class="experiencia-item">
        <div class="form-group">
          <div class="title-question">
            <i class="fa fa-briefcase"></i>
            <label class="question">Cargo</label>
          </div>
          <div class="resposta">
            <input class="form-control" type="text" placeholder="Nome do cargo"  (input)="experiencias[i].cargo = $event.target.value" [value]="experiencia.cargo" formControlName="cargo_{{i}}" name="cargo_{{i}}" required>
          </div>
          <div *ngIf="experiencia.cargo === ''" style="color: red">
            O campo Cargo é obrigatório.
          </div>
        </div>

        <div class="form-group">
          <div class="title-question">
              <i class="fa fa-briefcase"></i>
              <label class="question">Empresa</label>
          </div>           
          <div class="resposta">
              <input class="form-control" type="text" placeholder="Empresa que trabalhou" (input)="experiencias[i].local = $event.target.value" [value]="experiencia.local" formControlName="local_{{i}}" name="local_{{i}}" required>
          </div>
          <div *ngIf="experiencia.local === ''" style="color: red">
            O campo Empresa é obrigatório.
          </div>
        </div>

        <div class="form-group">
          <div class="title-question">
              <i class="fa fa-align-justify"></i>
              <label class="question">Descrição da atividade</label>
          </div>           
          <div class="resposta">
              <textarea class="form-control is-invalid" id="validationTextarea" (input)="experiencias[i].descricao = $event.target.value" [value]="experiencia.descricao" formControlName="descricao_{{i}}" name="descricao_{{i}}" placeholder="Conte em poucas palavras o que fazia" required></textarea>
          </div>
          <div *ngIf="experiencia.descricao === ''" style="color: red">
            O campo Descrição é obrigatório.
          </div>
        </div>

        <div class="form-group">
          <div class="row">
              <div class="col-4">
                  <div class="title-question">
                      <i class="fa fa-calendar"></i>
                      <label class="question">Data de inicio</label>
                  </div>           
                  <div class="resposta">
                      <input
                          class="form-control"
                          placeholder="Data Inicio"
                          type="date"
                          [value]="experiencia.datainicio" (input)="experiencias[i].datainicio = $event.target.value" formControlName="datainicio_{{i}}" [max]="getCurrentDate()" required
                      />
                  </div>
                  <div *ngIf="experiencia.datainicio === ''" style="color: red">
                    O campo Data é obrigatório.
                  </div>
              </div>

              <div class="col-4">
                  <div class="title-question">
                      <i class="fa fa-calendar"></i>
                      <label class="question">Data de fim</label>
                  </div>           
                  <div class="resposta">
                      <input
                          class="form-control"
                          placeholder="Data Fim"
                          type="date"
                          [value]="experiencia.datafim" (input)="experiencias[i].datafim = $event.target.value; verificarDataFim(i)" formControlName="datafim_{{i}}" [max]="getCurrentDate()" required
                      />
                  </div>
                  <div *ngIf="experiencia.datafim === ''" style="color: red">
                    O campo Data é obrigatório.
                  </div>
                  <div *ngIf="experiencia.datafimInvalid" style="color: red;">
                    Data final deve ser posterior à data inicial
                  </div>
              </div>
            </div>
        </div>
        <button type="button" class="btn btn-danger" (click)="removerExperiencia(i)">Remover</button>
      </div>
    </div>
    <button type="button" *ngIf="mostrarBotoes" class="btn btn-success" (click)="adicionarExperiencia()">Adicionar</button>
    <button type="button" *ngIf="!mostrarBotoes" class="btn btn-success" (click)="salvarExperiencia()">Salvar</button>
  </form>
</div>
