<div class="container">

    <h1 class="title-page">Cadastre as informações do seu currículo!</h1>

    <div class="slider">
        <div class="slides">

            <!--Slide component-->
            <div class="slide first" id="slide">
                <div class="component">
                    <app-curriculo-atuacao></app-curriculo-atuacao>
                    <div class="row justify-content-end" id="button">
                        <button type="button" class="btn btn-success" id="botao-proximo" (click)="slide2()">Próximo</button>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="component">
                    <app-curriculo-resumo></app-curriculo-resumo>
                    <div class="row justify-content-end" id="button">
                        <button type="button" class="btn btn-primary" id="botao-voltar" (click)="slide1()">Voltar</button>
                        <button type="button" class="btn btn-success" id="botao-proximo" (click)="slide3()">Próximo</button>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="component">
                    <app-curriculo-experiencia></app-curriculo-experiencia>
                    <div class="row justify-content-end" id="button">
                        <button type="button" class="btn btn-primary" id="botao-voltar" (click)="slide2()">Voltar</button>
                        <button type="button" class="btn btn-success" id="botao-proximo" (click)="slide4()">Próximo</button>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="component">
                    <app-curriculo-formacao></app-curriculo-formacao>
                    <div class="row justify-content-end" id="button">
                        <button type="button" class="btn btn-primary" id="botao-voltar" (click)="slide3()">Voltar</button>
                        <button type="button" class="btn btn-success" id="botao-proximo" (click)="slide5()">Próximo</button>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="component">
                    <app-curriculo-habilidades></app-curriculo-habilidades>
                    <div class="row justify-content-end" id="button">
                        <button type="button" class="btn btn-primary" id="botao-voltar" (click)="slide4()">Voltar</button>
                        <button type="button" class="btn btn-success" id="botao-proximo" (click)="slide6()">Próximo</button>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="component">
                    <app-curriculo-adicionais></app-curriculo-adicionais>
                    <div class="row justify-content-end" id="button">
                        <button type="button" class="btn btn-primary" id="botao-voltar" (click)="slide5()">Voltar</button>
                        <button type="button" class="btn btn-success" id="botao-proximo" >Salvar informações</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>