.title-page {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.slider {
    margin: 0 auto;
    width: 1000px;
    height: 550px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 550px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 16,6%;
    position: relative;
}

.component {
    width: 1000px;
    margin-top: 60px;
}

.component button {
    margin-left: 850px;
}

.manual-navigation {
    position: absolute;
    width: 1000px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #008FC8;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-top: 10px;

}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #008FC8;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

#radio6:checked ~ .first {
    margin-left: -125%;
}

.navigation-auto div{
    border: 2px solid #008FC8;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 1000px;
    margin-top: 10px;
    display: flex;
    justify-content: center;

}

.navigation-auto div:not(:last-child){
    margin-right: 40px
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #008FC8;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #008FC8;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #008FC8;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #008FC8;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: #008FC8;
}

#radio6:checked ~ .navigation-auto .auto-btn6 {
    background-color: #008FC8;
}

