<nav class="navbar navbar-expand-lg bg-light">
    <a class="navbar-brand" href="#">
      <img class="image-navbar" src="../../../assets/img/logo_agizo.png"/>
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Entre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/register']">Cadastre-se</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" role="search">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-home"></i></span>
          </div>
          <input class="form-control mr-sm-2" type="search" placeholder="Encontre aqui!" aria-label="Search">
        </div>
        <button class="btn btn-success" type="submit">Buscar</button>
      </form>
    </div>
</nav>