<div class="container-fluid">

  <div class="row justify-content-around">
    <div class="col-6">
      <div class="title ">
        <h3>Faça o login e aproveite o máximo da AGIZO!</h3>
      </div>
    </div>
  </div>


  
  <div class="row justify-content-around">
    <div class="col-4">
      <div class="left-login">
        <form #formLogin="ngForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Endereço de email</label>
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input
                  class="form-control"
                  placeholder="E-mail"
                  type="email"
                  id="login"
                  name="login"
                  [(ngModel)]="login.login"
                  #login="ngModel"
                />
              </div>
            </div>
            <div *ngIf="login.errors && (login.dirty || login.touched)" class="alert alert-danger">
              <div [hidden]="!login.errors?.['required']">Digite o email</div>
            </div>
            <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Senha"
                    type="password"
                    id="password"
                    name="password"
                    [(ngModel)]="login.password"
                    #password="ngModel"
                  />
              </div>
              <div
                *ngIf="password.errors && (password.dirty || password.touched)"
                class="alert alert-danger"
              >
                <div [hidden]="!password.errors?.['required']">Digite a senha.</div>
              </div>
          </div>
          <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox" />
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">Salvar credenciais de entrada</span>
                  </label>
                </div>
              </div>
            </div>

          <div class="row mt-3">
            <div class="col-6">
              <a href="javascript:void(0)" class="text-light"><small>Esqueceu sua senha?</small></a>
            </div>
            <div class="col-6 text-right">
              <a routerLinkActive="active" [routerLink]="['/register']" class="text-light"
                ><small>Criar nova conta</small></a
              >
            </div>
          </div>

          <div class="text-center">
            <button
              type="button"
              class="btn btn-primary my-4"
              (click)="logar()"
              [disabled]="!formLogin.form.valid"
            >
              Fazer login
            </button>
          </div>
        </form>        
      </div> 
    </div>

    
    <div class="col-5">
      <div class="right-login">
          <img class="image-login" src="../../../assets/img/jpg-login.jpg" width="250" height="250"/>
      </div>
    </div>
  </div>
</div>