<div class="container">

    <h3 class="title-etapa">Informações sobre área de atuação</h3>  
     
    <form role="form">
        <div class="form-group">
            
            <div class="title-question">
                <i class="fa fa-calendar"></i>
                <label class="question">Quantos anos de experiência você possui?</label>
            </div>           
            <div class="resposta">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="inlineRadioOptions" type="radio" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">0-1</label>
                </div>
                    
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="inlineRadioOptions" type="radio" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">2-5</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="inlineRadioOptions" type="radio" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">5-10</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="inlineRadioOptions" type="radio" id="inlineRadio4" value="option4">
                    <label class="form-check-label" for="inlineRadio4">+10</label>
                </div>
            </div>

            <div class="title-question">
                <i class="fa fa-briefcase"></i>
                <label class="question">Em qual área você pretende atuar?</label>
            </div>           
            <div class="resposta">
                <select class="form-control">
                    <option value="1">Administração</option>
                    <option value="2">Ciências Contábeis</option>
                    <option value="3">Arquitetura e Urbanismo</option>
                    <option value="4">Agronomia</option>
                    <option value="5">Ciência e Tecnologia</option>
                    <option value="6">Ciências Sociais</option>
                    <option value="7">Eventos</option>
                    <option value="8">Construção Civil</option>
                  </select>                  
            </div>

            <div class="title-question">
                <i class="fa fa-user-circle"></i>
                <label class="question">Qual rede social possui cadastro?</label>
            </div>           
            <div class="resposta">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="inlineRadioOptions1" type="radio" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Facebook</label>
                </div>
                    
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="inlineRadioOptions2" type="radio" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Instagram</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="inlineRadioOptions3" type="radio" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">LinkedIn</label>
                </div>
            </div>

        </div>
    </form>
</div>