.question {
    margin-left: 10px;
}

.resposta {
    margin-left: 30px;
}

.title-question {
    margin-top: 10px;
}

.title-etapa {
    font-weight: bold;
    font-size: 20px;
    color: #008FC8;
}
  
  