<div class="container">

    <h3 class="title-etapa">Informações adicionais</h3>  
     
    <form role="form">
        <div *ngFor="let adicional of adicionais; let i = index" class="adicional" [formGroup]="adicionaisForm" role="form">
        <div class="adicional-item">
        <div class="form-group">
            
            <div class="title-question"> 
                <i class="fa fa-briefcase"></i>
                <label class="question">Informações adicionais</label>
            </div>           
            <div class="resposta">
                <select class="form-control" formControlName="titulo">
                    <option value="" disabled selected>Selecione uma área de atuação</option>
                    <option *ngFor="let titulo of adicionaisgeral" [value]="titulo.descricao">{{ titulo.descricao }}</option>
                  </select>  
            </div>

            <div class="title-question">
                <i class="fa fa-align-justify"></i>
                <label class="question">Descrição</label>
            </div>           
            <div class="resposta">
                <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Faça uma breve descrição" formControlName="descricao" [(ngModel)]="adicional.descricao" required></textarea>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="title-question">
                        <i class="fa fa-calendar"></i>
                        <label class="question" [(ngModel)]="adicional.dataAquisicao">Data</label>
                    </div>           
                    <div class="resposta">
                        <input
                            class="form-control"
                            placeholder="Data aquisição"
                            type="date"
                            formControlName="data"
                        />
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-danger" (click)="removerAdicional(i)">Remover</button>
            </div>
        </div>
        <button type="button" *ngIf="mostrarBotoes" class="btn btn-success" (click)="adicionarAdicional()">Adicionar</button>
        <button type="button" *ngIf="!mostrarBotoes" class="btn btn-success" (click)="cadastrarAdicionais()">Salvar</button>
    </form>
</div>