<div class="container">
    <h3 class="title-etapa">Informações sobre sua formação</h3>
    <p>Total de formações: {{ formacoes.length }}</p>
    <form spellcheck="true">
        <div *ngFor="let formacao of formacoes; let i = index" class="formacao" role="form">
            <div class="formacao-item">

                <div class="form-group">

                    <div class="title-question">
                        <i class="fa fa-briefcase"></i>
                        <label class="question">Formação</label>
                    </div>
                    <div class="resposta">
                        <input class="form-control" type="text" placeholder="Nome do curso" (input)="formacoes[i].curso = $event.target.value" [value]="formacao.curso" formControlName="curso_{{i}}" name="curso_{{i}}" required>
                    </div>
                    <div *ngIf="formacao.curso === ''" style="color: red">
                        O campo Curso é obrigatório.
                    </div>

                    <div class="title-question">
                        <i class="fa fa-align-justify"></i>
                        <label class="question">Instituição de ensino</label>
                    </div>
                    <div class="resposta">
                        <input class="form-control" type="text" placeholder="Informe aonde você realizou o curso"
                        (input)="formacoes[i].local = $event.target.value" [value]="formacao.local" formControlName="local_{{i}}" name="local_{{i}}" required>
                    </div>
                    <div *ngIf="formacao.local === ''" style="color: red">
                        O campo Instituição é obrigatório.
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="title-question">
                                <i class="fa fa-calendar"></i>
                                <label class="question">Data de inicio</label>
                            </div>
                            <div class="resposta">
                                <input class="form-control" placeholder="Data Inicio" type="date"
                                [value]="formacao.datainicio" (input)="formacoes[i].datainicio = $event.target.value" formControlName="datainicio_{{i}}" [max]="getCurrentDate()" required />
                            </div>
                            <div *ngIf="formacao.datainicio === ''" style="color: red">
                                O campo Data é obrigatório.
                              </div>
                        </div>

                        <div class="col-4">
                            <div class="title-question">
                                <i class="fa fa-calendar"></i>
                                <label class="question">Data de fim</label>
                            </div>
                            <div class="resposta">
                                <input class="form-control" placeholder="Data Fim" type="date"
                                [value]="formacao.datafim" (input)="formacoes[i].datafim = $event.target.value" formControlName="datafim_{{i}}" required/>
                            </div>
                            <div *ngIf="formacao.datafim === ''" style="color: red">
                                O campo Data é obrigatório.
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-danger" (click)="removerFormacao(i)">Remover</button>
            </div>
        </div>
        <button type="button" *ngIf="mostrarBotoes" class="btn btn-success" (click)="adicionarFormacao()">Adicionar</button>
        <button type="button" *ngIf="!mostrarBotoes" class="btn btn-success" (click)="salvarFormacao()">Salvar</button>
    </form>
</div>