p {
    font-size: 20px;
    color: #595a5a;
    font-weight:bold;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 9999;
  }
  
  .modal-content {
    text-align: center;
  }
  
  .display-block {
    display: block;
  }

  .text-blue {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }