<div class="header bg-gradient py-7 py-lg-7"></div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <p>Realize seu cadastro!</p>
          </div>
          <form role="form" [formGroup]="clientForm" (submit)="onSubmit()">
            <div class="form-group">
              <select class="form-control" required formControlName="type" placeholder="Selecione o tipo de usuário">
                <option value="" disabled selected>Selecione o tipo de perfil de usuário para o Agizo</option>
                <option value="recrutador">Recrutador - Buscar currículos</option>
                <option value="candidato">Candidato - Cadastrar currículos</option>
              </select>

              <div *ngIf="clientForm.controls['type'].invalid && (clientForm.controls['type'].dirty || clientForm.controls['type'].touched)">
                <div *ngIf="clientForm.controls['type'].errors.required">
                  <p class="text-danger">Tipo é obrigatório</p>
                </div>
              </div>

            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Nome"
                  type="text"
                  formControlName="name"
                  required
                />
              </div>
              <div *ngIf="clientForm.controls['name'].invalid && (clientForm.controls['name'].dirty || clientForm.controls['name'].touched)">
                <div *ngIf="clientForm.controls['name'].errors.required">
                  <p class="text-danger">Nome é obrigatório</p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Email"
                  type="email"
                  formControlName="email"
                  required
                  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                />
              </div>
            
              <div *ngIf="clientForm.controls['email'].invalid && (clientForm.controls['email'].dirty || clientForm.controls['email'].touched)">
                <div *ngIf="clientForm.controls['email'].errors.required">
                  <p class="text-danger">E-mail é obrigatório</p>
                </div>
                <div *ngIf="clientForm.controls['email'].hasError('pattern')">
                  <p class="text-danger">E-mail inválido. Por favor, insira um e-mail válido.</p>
                </div>
              </div>
            </div>            

            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Senha"
                  [type]="showPassword ? 'text' : 'password'"
                  formControlName="password"
                  required
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="togglePasswordVisibility()"
                  >
                    <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                  </button>
                </div>
              </div>
              <div *ngIf="clientForm.controls['password'].invalid && (clientForm.controls['password'].dirty || clientForm.controls['password'].touched)">
                <div *ngIf="clientForm.controls['password'].errors.required">
                  <p class="text-danger">Senha é obrigatória</p>
                </div>
              </div>
            </div>          

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="CPF"
                      type="text"
                      formControlName="cpf"
                      required
                      (input)="onCPFInputChange($event)"
                    />
                  </div>
                  <div *ngIf="clientForm.controls['cpf'].invalid && (clientForm.controls['cpf'].dirty || clientForm.controls['cpf'].touched)">
                    <div *ngIf="clientForm.controls['cpf'].errors.required">
                      <p class="text-danger">CPF é obrigatório</p>
                    </div>
                    <div *ngIf="clientForm.controls['cpf'].errors.invalidCPF">
                      <p class="text-danger">CPF inválido</p>
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                    </div>
                    <input
                    class="form-control"
                    placeholder="Telefone/Celular"
                    type="text"
                    formControlName="cellphone"
                    required
                    (input)="formatarTelefone()"
                    /> 
                  </div>
                  <div *ngIf="clientForm.controls['cellphone'].invalid && (clientForm.controls['cellphone'].dirty || clientForm.controls['cellphone'].touched)">
                    <div *ngIf="clientForm.controls['cellphone'].errors.required">
                      <p class="text-danger">Telefone/Celular é obrigatório</p>
                    </div>
                    <div *ngIf="clientForm.controls['cellphone'].errors.invalidPhone">
                      <p class="text-danger">Telefone/Celular inválido</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox" [(ngModel)]="termosAceitos" (change)="esconderMensagem()"/>
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted" (click)="abrirModal()" [ngClass]="{ 'text-blue': termosAceitos }">Li e concordo com os Termos de Privacidade</span>
                  </label>
                  <p class="text-danger mt-2" *ngIf="!termosAceitos && mensagemVisivel">Por favor, aceite os termos de privacidade para prosseguir.</p>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4">Criar conta</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Privacidade -->
<div class="modal" [class.display-block]="mostrarModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Termos de Privacidade</h5>
        <button type="button" class="close" (click)="mostrarModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bem-vindo aos nossos Termos de Privacidade!</p>
        <p>Sua privacidade é importante para nós. É política da nossa empresa respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site.</p>
        <p>Informamos ainda que:</p>
        <ul>
          <li>Nós não compartilhamos informações pessoais com terceiros, exceto quando exigido por lei.</li>
          <li>Podemos utilizar cookies para oferecer uma melhor experiência de navegação.</li>
          <li>Seu uso continuado do nosso site será considerado como aceitação dos nossos termos e condições.</li>
        </ul>
        <p>Estes Termos de Privacidade são válidos a partir de agora.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="mostrarModal = false">Fechar</button>
      </div>
    </div>
  </div>
</div>

