<br><br>
<div class="container">
    <div class="header">
        <h1 class="title">ENCONTRE O CURRICULO IDEAL PARA SUA VAGA</h1>
        <h3 class="subtitle">Na Agizo você encontra os melhores currículos e ainda pode contatar diretamente o candidato</h3>
        <h3 class="subtitle">Você ainda pode ajudar os candidatos avaliando os currículos e incluindo um comentário</h3>
    </div>
    <div class="footer d-flex">
        <button class="btn btn-info" id="button">Banco de currículos</button>
    </div>
</div>
