<br><br>
<div class="container">
  <h1 class="title-page">Informações do seu currículo:</h1>

    <div class="timeline">
      <div [ngClass]="{'event': true, 'user-info': true, 'highlighted': slideAtual === 1}" (click)="alterarSlide(1)">1 - Informações de usuário</div>
      <div [ngClass]="{'event': true, 'summary': true, 'highlighted': slideAtual === 2}" (click)="alterarSlide(2)">2 - Resumo</div>
      <div [ngClass]="{'event': true, 'experience': true, 'highlighted': slideAtual === 3}" (click)="alterarSlide(3)">3 - Experiência</div>
      <div [ngClass]="{'event': true, 'education': true, 'highlighted': slideAtual === 4}" (click)="alterarSlide(4)">4 - Formação</div>
      <div [ngClass]="{'event': true, 'skills': true, 'highlighted': slideAtual === 5}" (click)="alterarSlide(5)">5 - Habilidades</div>
      <div [ngClass]="{'event': true, 'additional-info': true, 'highlighted': slideAtual === 6}" (click)="alterarSlide(6)">6 - Informações adicionais</div>
    </div>

    <div class="slider">
        <div class="slides" class="component">
              <!-- Use *ngIf para alternar entre os componentes -->
              <div *ngIf="slideAtual === 1">
                <app-curriculo-atuacao></app-curriculo-atuacao>
              </div>
              <div *ngIf="slideAtual === 2">
                <app-curriculo-resumo></app-curriculo-resumo>
              </div>
              <div *ngIf="slideAtual === 3">
                <app-curriculo-experiencia></app-curriculo-experiencia>
              </div>
              <div *ngIf="slideAtual === 4">
                <app-curriculo-formacao></app-curriculo-formacao>
              </div>
              <div *ngIf="slideAtual === 5">
                <app-curriculo-habilidades></app-curriculo-habilidades>
              </div>
              <div *ngIf="slideAtual === 6">
                <app-curriculo-adicionais></app-curriculo-adicionais>
              </div>

              <div class="row justify-content-end" id="button">
                <button *ngIf="slideAtual > 1" type="button" class="btn btn-primary" id="botao-voltar" (click)="slideVoltar()">Voltar</button>
                <button *ngIf="slideAtual < 6" type="button" class="btn btn-success" id="botao-proximo" (click)="slideProximo()">Próximo</button>
                <button *ngIf="slideAtual === 6" type="button" class="btn btn-success" routerLinkActive="active" [routerLink]="['/visualizar-curriculo']">Finalizar cadastro</button>
              </div>
        </div>
    </div>
</div>